<h1>新規ユーザー登録</h1>

<% @user.errors.full_messages.each do |message| %>
    <%= message %>
<% end %>

<%= render 'layouts/lang', programming_lang: @programming_lang %>

<%= form_tag("/users/create") do %>
    <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
    <p>パスワード</p>
        <input name="password" type="password" value="<% @user.password %>">
    <p>好きなプログラミング言語</p>
        <select name="favorite_lang">
            <% @programming_lang.each do |lang| %>
                <option name="<% lang %>"><%=lang %></option>
            <% end %>
        </select>
        <input type="submit" value="新規登録">
<% end %>