
<h1>今日の運勢</h1>
<h2>あなたの今日の運勢を占うのはこのソースコード</h2>

<h3><%= link_to("GitHubでみる", @html_url) %></h3>
<p><%= @filename %>な一日</p>
<p>仕事運: <%= @work_luck %></p>
<p>対人運：<%= @interpersonal_luck %></p>

<p>
    <pre>
        <code id="code" class="language-javascript"><%= @code %></code>
    </pre>
</p>