<%= render 'layouts/lang', programming_lang: @programming_lang %>

<h1>クイズ</h1>
<h2>このコードは何の言語で書かれているでしょうか?</h2>
<h2>正答率<%= @accuracy_rate %>%</h2>
<p>
    <pre>
        <code class="<%= @lang_class %>"><%= @code %></code>
    </pre>
</p>
<h2>
    <%= form_tag("/judge") do %>
        <p>回答</p>
        <input name="answer">
        <input type="submit" value="送信">
    <% end %>
</h2>
